<!-- Contact section
================================================== -->
<section id="contact" class="parallax-section">
	<div class="container">
		<div class="row">


			<!-- "id": 1,
            "country": "Switzerland",
            "city_name": "Basel",
            "cpi_and_rent_index": 90.1359163150788,
            "rent_index": 47.72953844461662,
            "purchasing_power_incl_rent_index": 135.17535795816121,
            "restaurant_price_index": 127.7220643349051,
            "groceries_index": 124.35743301742603,
            "city_id": 6348,
            "cpi_index": 128.62588475320365 -->

			<!-- Contact form section
			================================================== -->
			<!-- <div *ngFor="let city of cities; let i = index">
				<div >
					<div >
						<h2>country : {{city.country}}</h2>
						<div>
							<h4>City : {{city.city_name}}</h4>
							<p>Rent Index : {{city.rent_index}}</p>
						</div>
						<div>
							<h4>Talk to Us</h4>
							<p>Email: hello@company.com</p>
							<p>Tel: 010-020-0770 &nbsp;&nbsp;&nbsp; Fax: 090-080-0430</p>
						</div>
					</div>
				</div>
			</div> -->


			<div *ngFor="let city of cities; let i = index" style="margin: 1rem;">

				<mat-card class="example-card">
					<div fxLayout="row" fxLayoutGap="2rem" fxLayoutAlign="justify-content: space-between" fxFlexFill>
						<div class="sub-section-1">
							<img mat-card-lg-image [src]="'../../../assets/modern-town/images/' + 'city' + (i +1) + '.jpeg'">

						</div>
						<div class="sub-section-2" fxFlex="65">
							<mat-card-title-group>
								<mat-card-title>{{city.city_name}}, {{city.country}}</mat-card-title>
								<mat-card-subtitle>#{{i+1}} in best Places to Live</mat-card-subtitle>
								<!-- <mat-card-subtitle>#{{i+1}} in best Places to Live</mat-card-subtitle> -->

							</mat-card-title-group>
							<mat-card-content>
								<p>Rent Index: {{city.rent_index}}</p>
							</mat-card-content>
						</div>
						<div class="sub-section-3" f style="border-left: 1px solid rgb(175, 174, 174);">
							<div fxLayout="column" style="margin-left: 1rem;">
								<div class="mat-subheading-2"
									style="color: gray;font-family: Arial, Helvetica, sans-serif">CPI & Rent Index</div>
								<div class="mat-h3">{{city.cpi_and_rent_index | number : '1.2-2'}}</div>

								<div class="mat-subheading-2"
									style="color: gray;font-family: Arial, Helvetica, sans-serif">Groceries Index
								</div>
								<div class="mat-h3">{{city.groceries_index | number : '1.2-2'}}</div>
							</div>
						</div>

					</div>

				</mat-card>
			</div>


		</div>


	</div>
</section>