<!-- Counter section
================================================== -->
<section id="counter" class="paralla-section">
	<div class="container">
		<div class="row">

			<div class="col-md-3 col-sm-3 counter-item">	
				<h3 class="counter-number" data-from="1" data-to="256" data-speed="1000"></h3>
				<span class="counter-text">CUSTOMERS</span>
            </div> 
            <div class="col-md-3 col-sm-3 counter-item">	
				<h3 class="counter-number" data-from="1" data-to="512" data-speed="2000"></h3>
				<span class="counter-text">DEVELOPERS</span>
            </div>   
            <div class="col-md-3 col-sm-3 counter-item">	
				<h3 class="counter-number" data-from="1" data-to="1024" data-speed="3000"></h3>
				<span class="counter-text">AWESOME PROJECTS</span>
            </div> 
             <div class="col-md-3 col-sm-3 counter-item">
				<h3 class="counter-number" data-from="1" data-to="2048" data-speed="4000"></h3>
				<span class="counter-text">DESIGNERS</span>
            </div> 
              

		</div>
	</div>
</section>