.parent {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    position: relative;
    top: 0;
    left: 0;
    border: 1px red solid;
    height: 250px;
    width: 100%;
  }
  .image2 {
    position: absolute;
    top: 0;
    right: 0;
    border: 1px green solid;
    width: 100px;
  }